.spriteness {
	background-image: url('spriteness.png');
}
.spriteness-Isla-de-hierba-1-9 {
	width:40px;
	height:40px;
	background-position:0px 0px
}
.spriteness-Isla-de-hierba-1-8 {
	width:40px;
	height:40px;
	background-position:-40px 0px
}
.spriteness-Isla-de-hierba-1-7 {
	width:40px;
	height:40px;
	background-position:-80px 0px
}
.spriteness-Isla-de-hierba-1-6 {
	width:40px;
	height:40px;
	background-position:-120px 0px
}
.spriteness-Isla-de-hierba-1-5 {
	width:40px;
	height:40px;
	background-position:-160px 0px
}
.spriteness-Isla-de-hierba-1-4 {
	width:40px;
	height:40px;
	background-position:-200px 0px
}
.spriteness-Isla-de-hierba-1-3 {
	width:40px;
	height:40px;
	background-position:-240px 0px
}
.spriteness-Isla-de-hierba-1-2 {
	width:40px;
	height:40px;
	background-position:-280px 0px
}
.spriteness-Isla-de-hierba-1-13 {
	width:40px;
	height:40px;
	background-position:-320px 0px
}
.spriteness-Isla-de-hierba-1-12 {
	width:40px;
	height:40px;
	background-position:-360px 0px
}
.spriteness-Isla-de-hierba-1-11 {
	width:40px;
	height:40px;
	background-position:-400px 0px
}
.spriteness-Isla-de-hierba-1-10 {
	width:40px;
	height:40px;
	background-position:-440px 0px
}
.spriteness-Isla-de-hierba-1-1 {
	width:40px;
	height:40px;
	background-position:0px -40px
}
.spriteness-Hierba-camino-8-9 {
	width:40px;
	height:40px;
	background-position:0px -80px
}
.spriteness-Hierba-camino-8-8 {
	width:40px;
	height:40px;
	background-position:0px -120px
}
.spriteness-Hierba-camino-8-7 {
	width:40px;
	height:40px;
	background-position:0px -160px
}
.spriteness-Hierba-camino-8-6 {
	width:40px;
	height:40px;
	background-position:0px -200px
}
.spriteness-Hierba-camino-8-5 {
	width:40px;
	height:40px;
	background-position:0px -240px
}
.spriteness-Hierba-camino-8-4 {
	width:40px;
	height:40px;
	background-position:0px -280px
}
.spriteness-Hierba-camino-8-3 {
	width:40px;
	height:40px;
	background-position:0px -320px
}
.spriteness-Hierba-camino-8-2 {
	width:40px;
	height:40px;
	background-position:0px -360px
}
.spriteness-Hierba-camino-8-1 {
	width:40px;
	height:40px;
	background-position:0px -400px
}
.spriteness-Hierba-camino-7-9 {
	width:40px;
	height:40px;
	background-position:0px -440px
}
.spriteness-Hierba-camino-7-8 {
	width:40px;
	height:40px;
	background-position:-40px -40px
}
.spriteness-Hierba-camino-7-7 {
	width:40px;
	height:40px;
	background-position:-80px -40px
}
.spriteness-Hierba-camino-7-6 {
	width:40px;
	height:40px;
	background-position:-120px -40px
}
.spriteness-Hierba-camino-7-5 {
	width:40px;
	height:40px;
	background-position:-160px -40px
}
.spriteness-Hierba-camino-7-4 {
	width:40px;
	height:40px;
	background-position:-200px -40px
}
.spriteness-Hierba-camino-7-3 {
	width:40px;
	height:40px;
	background-position:-240px -40px
}
.spriteness-Hierba-camino-7-2 {
	width:40px;
	height:40px;
	background-position:-280px -40px
}
.spriteness-Hierba-camino-7-15 {
	width:40px;
	height:40px;
	background-position:-320px -40px
}
.spriteness-Hierba-camino-7-14 {
	width:40px;
	height:40px;
	background-position:-360px -40px
}
.spriteness-Hierba-camino-7-13 {
	width:40px;
	height:40px;
	background-position:-400px -40px
}
.spriteness-Hierba-camino-7-12 {
	width:40px;
	height:40px;
	background-position:-440px -40px
}
.spriteness-Hierba-camino-7-11 {
	width:40px;
	height:40px;
	background-position:-40px -80px
}
.spriteness-Hierba-camino-7-10 {
	width:40px;
	height:40px;
	background-position:-40px -120px
}
.spriteness-Hierba-camino-7-1 {
	width:40px;
	height:40px;
	background-position:-40px -160px
}
.spriteness-Hierba-camino-6-9 {
	width:40px;
	height:40px;
	background-position:-40px -200px
}
.spriteness-Hierba-camino-6-8 {
	width:40px;
	height:40px;
	background-position:-40px -240px
}
.spriteness-Hierba-camino-6-7 {
	width:40px;
	height:40px;
	background-position:-40px -280px
}
.spriteness-Hierba-camino-6-6 {
	width:40px;
	height:40px;
	background-position:-40px -320px
}
.spriteness-Hierba-camino-6-5 {
	width:40px;
	height:40px;
	background-position:-40px -360px
}
.spriteness-Hierba-camino-6-4 {
	width:40px;
	height:40px;
	background-position:-40px -400px
}
.spriteness-Hierba-camino-6-3 {
	width:40px;
	height:40px;
	background-position:-40px -440px
}
.spriteness-Hierba-camino-6-2 {
	width:40px;
	height:40px;
	background-position:-80px -80px
}
.spriteness-Hierba-camino-6-15 {
	width:40px;
	height:40px;
	background-position:-120px -80px
}
.spriteness-Hierba-camino-6-14 {
	width:40px;
	height:40px;
	background-position:-160px -80px
}
.spriteness-Hierba-camino-6-13 {
	width:40px;
	height:40px;
	background-position:-200px -80px
}
.spriteness-Hierba-camino-6-12 {
	width:40px;
	height:40px;
	background-position:-240px -80px
}
.spriteness-Hierba-camino-6-11 {
	width:40px;
	height:40px;
	background-position:-280px -80px
}
.spriteness-Hierba-camino-6-10 {
	width:40px;
	height:40px;
	background-position:-320px -80px
}
.spriteness-Hierba-camino-6-1 {
	width:40px;
	height:40px;
	background-position:-360px -80px
}
.spriteness-Hierba-camino-5-9 {
	width:40px;
	height:40px;
	background-position:-400px -80px
}
.spriteness-Hierba-camino-5-8 {
	width:40px;
	height:40px;
	background-position:-440px -80px
}
.spriteness-Hierba-camino-5-7 {
	width:40px;
	height:40px;
	background-position:-80px -120px
}
.spriteness-Hierba-camino-5-6 {
	width:40px;
	height:40px;
	background-position:-80px -160px
}
.spriteness-Hierba-camino-5-5 {
	width:40px;
	height:40px;
	background-position:-80px -200px
}
.spriteness-Hierba-camino-5-4 {
	width:40px;
	height:40px;
	background-position:-80px -240px
}
.spriteness-Hierba-camino-5-3 {
	width:40px;
	height:40px;
	background-position:-80px -280px
}
.spriteness-Hierba-camino-5-2 {
	width:40px;
	height:40px;
	background-position:-80px -320px
}
.spriteness-Hierba-camino-5-15 {
	width:40px;
	height:40px;
	background-position:-80px -360px
}
.spriteness-Hierba-camino-5-14 {
	width:40px;
	height:40px;
	background-position:-80px -400px
}
.spriteness-Hierba-camino-5-13 {
	width:40px;
	height:40px;
	background-position:-80px -440px
}
.spriteness-Hierba-camino-5-12 {
	width:40px;
	height:40px;
	background-position:-120px -120px
}
.spriteness-Hierba-camino-5-11 {
	width:40px;
	height:40px;
	background-position:-160px -120px
}
.spriteness-Hierba-camino-5-10 {
	width:40px;
	height:40px;
	background-position:-200px -120px
}
.spriteness-Hierba-camino-5-1 {
	width:40px;
	height:40px;
	background-position:-240px -120px
}
.spriteness-Hierba-camino-4-9 {
	width:40px;
	height:40px;
	background-position:-280px -120px
}
.spriteness-Hierba-camino-4-8 {
	width:40px;
	height:40px;
	background-position:-320px -120px
}
.spriteness-Hierba-camino-4-7 {
	width:40px;
	height:40px;
	background-position:-360px -120px
}
.spriteness-Hierba-camino-4-6 {
	width:40px;
	height:40px;
	background-position:-400px -120px
}
.spriteness-Hierba-camino-4-5 {
	width:40px;
	height:40px;
	background-position:-440px -120px
}
.spriteness-Hierba-camino-4-4 {
	width:40px;
	height:40px;
	background-position:-120px -160px
}
.spriteness-Hierba-camino-4-3 {
	width:40px;
	height:40px;
	background-position:-120px -200px
}
.spriteness-Hierba-camino-4-2 {
	width:40px;
	height:40px;
	background-position:-120px -240px
}
.spriteness-Hierba-camino-4-15 {
	width:40px;
	height:40px;
	background-position:-120px -280px
}
.spriteness-Hierba-camino-4-14 {
	width:40px;
	height:40px;
	background-position:-120px -320px
}
.spriteness-Hierba-camino-4-13 {
	width:40px;
	height:40px;
	background-position:-120px -360px
}
.spriteness-Hierba-camino-4-12 {
	width:40px;
	height:40px;
	background-position:-120px -400px
}
.spriteness-Hierba-camino-4-11 {
	width:40px;
	height:40px;
	background-position:-120px -440px
}
.spriteness-Hierba-camino-4-10 {
	width:40px;
	height:40px;
	background-position:-160px -160px
}
.spriteness-Hierba-camino-4-1 {
	width:40px;
	height:40px;
	background-position:-200px -160px
}
.spriteness-Hierba-camino-3-9 {
	width:40px;
	height:40px;
	background-position:-240px -160px
}
.spriteness-Hierba-camino-3-8 {
	width:40px;
	height:40px;
	background-position:-280px -160px
}
.spriteness-Hierba-camino-3-7 {
	width:40px;
	height:40px;
	background-position:-320px -160px
}
.spriteness-Hierba-camino-3-6 {
	width:40px;
	height:40px;
	background-position:-360px -160px
}
.spriteness-Hierba-camino-3-5 {
	width:40px;
	height:40px;
	background-position:-400px -160px
}
.spriteness-Hierba-camino-3-4 {
	width:40px;
	height:40px;
	background-position:-440px -160px
}
.spriteness-Hierba-camino-3-3 {
	width:40px;
	height:40px;
	background-position:-160px -200px
}
.spriteness-Hierba-camino-3-2 {
	width:40px;
	height:40px;
	background-position:-160px -240px
}
.spriteness-Hierba-camino-3-15 {
	width:40px;
	height:40px;
	background-position:-160px -280px
}
.spriteness-Hierba-camino-3-14 {
	width:40px;
	height:40px;
	background-position:-160px -320px
}
.spriteness-Hierba-camino-3-13 {
	width:40px;
	height:40px;
	background-position:-160px -360px
}
.spriteness-Hierba-camino-3-12 {
	width:40px;
	height:40px;
	background-position:-160px -400px
}
.spriteness-Hierba-camino-3-11 {
	width:40px;
	height:40px;
	background-position:-160px -440px
}
.spriteness-Hierba-camino-3-10 {
	width:40px;
	height:40px;
	background-position:-200px -200px
}
.spriteness-Hierba-camino-3-1 {
	width:40px;
	height:40px;
	background-position:-240px -200px
}
.spriteness-Hierba-camino-2-9 {
	width:40px;
	height:40px;
	background-position:-280px -200px
}
.spriteness-Hierba-camino-2-8 {
	width:40px;
	height:40px;
	background-position:-320px -200px
}
.spriteness-Hierba-camino-2-7 {
	width:40px;
	height:40px;
	background-position:-360px -200px
}
.spriteness-Hierba-camino-2-6 {
	width:40px;
	height:40px;
	background-position:-400px -200px
}
.spriteness-Hierba-camino-2-5 {
	width:40px;
	height:40px;
	background-position:-440px -200px
}
.spriteness-Hierba-camino-2-4 {
	width:40px;
	height:40px;
	background-position:-200px -240px
}
.spriteness-Hierba-camino-2-3 {
	width:40px;
	height:40px;
	background-position:-200px -280px
}
.spriteness-Hierba-camino-2-2 {
	width:40px;
	height:40px;
	background-position:-200px -320px
}
.spriteness-Hierba-camino-2-15 {
	width:40px;
	height:40px;
	background-position:-200px -360px
}
.spriteness-Hierba-camino-2-14 {
	width:40px;
	height:40px;
	background-position:-200px -400px
}
.spriteness-Hierba-camino-2-13 {
	width:40px;
	height:40px;
	background-position:-200px -440px
}
.spriteness-Hierba-camino-2-12 {
	width:40px;
	height:40px;
	background-position:-240px -240px
}
.spriteness-Hierba-camino-2-11 {
	width:40px;
	height:40px;
	background-position:-280px -240px
}
.spriteness-Hierba-camino-2-10 {
	width:40px;
	height:40px;
	background-position:-320px -240px
}
.spriteness-Hierba-camino-2-1 {
	width:40px;
	height:40px;
	background-position:-360px -240px
}
.spriteness-Hierba-camino-1-9 {
	width:40px;
	height:40px;
	background-position:-400px -240px
}
.spriteness-Hierba-camino-1-8 {
	width:40px;
	height:40px;
	background-position:-440px -240px
}
.spriteness-Hierba-camino-1-7 {
	width:40px;
	height:40px;
	background-position:-240px -280px
}
.spriteness-Hierba-camino-1-6 {
	width:40px;
	height:40px;
	background-position:-240px -320px
}
.spriteness-Hierba-camino-1-5 {
	width:40px;
	height:40px;
	background-position:-240px -360px
}
.spriteness-Hierba-camino-1-4 {
	width:40px;
	height:40px;
	background-position:-240px -400px
}
.spriteness-Hierba-camino-1-3 {
	width:40px;
	height:40px;
	background-position:-240px -440px
}
.spriteness-Hierba-camino-1-2 {
	width:40px;
	height:40px;
	background-position:-280px -280px
}
.spriteness-Hierba-camino-1-15 {
	width:40px;
	height:40px;
	background-position:-320px -280px
}
.spriteness-Hierba-camino-1-14 {
	width:40px;
	height:40px;
	background-position:-360px -280px
}
.spriteness-Hierba-camino-1-13 {
	width:40px;
	height:40px;
	background-position:-400px -280px
}
.spriteness-Hierba-camino-1-12 {
	width:40px;
	height:40px;
	background-position:-440px -280px
}
.spriteness-Hierba-camino-1-11 {
	width:40px;
	height:40px;
	background-position:-280px -320px
}
.spriteness-Hierba-camino-1-10 {
	width:40px;
	height:40px;
	background-position:-280px -360px
}
.spriteness-Hierba-camino-1-1 {
	width:40px;
	height:40px;
	background-position:-280px -400px
}
.spriteness-Hierba-1-6 {
	width:40px;
	height:40px;
	background-position:-280px -440px
}
.spriteness-Hierba-1-5 {
	width:40px;
	height:40px;
	background-position:-320px -320px
}
.spriteness-Hierba-1-4 {
	width:40px;
	height:40px;
	background-position:-360px -320px
}
.spriteness-Hierba-1-3 {
	width:40px;
	height:40px;
	background-position:-400px -320px
}
.spriteness-Hierba-1-2 {
	width:40px;
	height:40px;
	background-position:-440px -320px
}
.spriteness-Hierba-1-1 {
	width:40px;
	height:40px;
	background-position:-320px -360px
}
.spriteness-Foso-de-agua-1-9 {
	width:40px;
	height:40px;
	background-position:-320px -400px
}
.spriteness-Foso-de-agua-1-8 {
	width:40px;
	height:40px;
	background-position:-320px -440px
}
.spriteness-Foso-de-agua-1-7 {
	width:40px;
	height:40px;
	background-position:-360px -360px
}
.spriteness-Foso-de-agua-1-6 {
	width:40px;
	height:40px;
	background-position:-400px -360px
}
.spriteness-Foso-de-agua-1-5 {
	width:40px;
	height:40px;
	background-position:-440px -360px
}
.spriteness-Foso-de-agua-1-4 {
	width:40px;
	height:40px;
	background-position:-360px -400px
}
.spriteness-000003 {
	width:40px;
	height:40px;
	background-position:-360px -440px
}
.spriteness-000002 {
	width:40px;
	height:40px;
	background-position:-400px -400px
}
.spriteness-000001 {
	width:40px;
	height:40px;
	background-position:-440px -400px
}
