*{margin:0px; padding:0px;}

#game{
width:100%;margin:0px; padding:0px;
}

body,html{
    height:100%;
    background-color: rgba(0, 0, 0, 1);
    
}


.container {
	
  width: 15%;
  height:0px;
  position: absolute;
    
}
.circle-action {
    border-radius: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100%;
    transform: rotate(-45deg);
    background-image: url("hand.png");  
}

.circle {
    
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100%;
    transform: rotate(-45deg);
}
	
.left {
		
	top:65.5%;
	left:3.5%;
    transform: rotate(180deg);
		
}

.right {
	
	top:39%;
	left:25%;
	
}

.up {
	transform: rotate(270deg);	
	top:33.4%;
	left:6.7%;	
}

.down {
	transform: rotate(90deg);	
	top:71%;
	left:21.7%;	
}
	
.action {
    
	top:60%;
	right:10%;	
}
