.popup {
    
    background-color: gray;
    width: 95%;
    height: 95%;
    
}

.btn {
  background: black;
  background-image: -webkit-linear-gradient(top, #0c3338, #bd2020);
  background-image: -moz-linear-gradient(top, #0c3338, #bd2020);
  background-image: -ms-linear-gradient(top, #0c3338, #bd2020);
  background-image: -o-linear-gradient(top, #0c3338, #bd2020);
  background-image: linear-gradient(to bottom, #0c3338, #bd2020);
  -webkit-border-radius: 35;
  -moz-border-radius: 35;
  border-radius: 35px;
  -webkit-box-shadow: 3px 3px 9px #666666;
  -moz-box-shadow: 3px 3px 9px #666666;
  box-shadow: 3px 3px 9px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 35px;
  padding: 10px 20px 10px 20px;
  border: dotted #000000 2px;
  text-decoration: none;
	  
}

.btn-left {
	
	text-align: left;
	
}

.btn-right {
	
	text-align: right;
	
}

#ContinueGame {
	
	position: absolute;
	width: 44%;
	right:63%;
	bottom: 10%;
	background-image: linear-gradient(to bottom, blue, darkblue);
	border-color: black;
  	border-style: solid
	
}

#StartGame {
	
	position: absolute;
	width: 36%;
	right:71%;
	bottom: 25%;
	background-image: linear-gradient(to bottom, blue, darkblue);
	border-color: black;
  	border-style: solid
	
}

#User {
	
	position: absolute;
	width: 30%;
	top:5%;
	left:5%;
	background-image: linear-gradient(to bottom, blue, darkblue);
	border-color: black;
  	border-style: solid
	
}

#Menu {
	
	position: absolute;
	width: 30%;
	top:5%;
	right:5%;
	background-image: linear-gradient(to bottom, blue, darkblue);
	border-color: black;
  	border-style: solid
	
}

#Retos {
	
	position: absolute;
	width: 41%;
	left:65%;
	bottom: 25%;
	background-image: linear-gradient(to bottom, blue, darkblue);
	border-color: black;
	border-style: solid
	
}

#Multi {
	
	position: absolute;
	width: 51%;
	left:55%;
	bottom: 10%;
	background-image: linear-gradient(to bottom, blue, darkblue);
	border-color: black;
  	border-style: solid
	
}