*{margin:0px; padding:0px;}

#game{
width:100%;margin:0px; padding:0px;
}
@media screen and (device-aspect-ratio: 16/9) {	
.container {
  width: 10%;
  height:0px;
  position: absolute;
  display: inline;
}

.circle {
  border-radius: 50%;
  width: 100%;
  padding-bottom: 100%;
  background: white;
}
	
.left {
		
	top:50%;
	left:5%;
		
}

.right {
	
	top:50%;
	left:25%;
	
}

.up {
		
	top:30%;
	left:15%;	
}

.down {
		
	top:70%;
	left:15%;	
}
	
.action {
		
	top:60%;
	right:10%;	
}
}
@media screen and (min-height:500px) and (max-width:720px) {
	
.container {
  width: 20%;
  height:0px;
  position: absolute;
  display: inline;
}

.circle {
  border-radius: 50%;
  width: 100%;
  padding-bottom: 100%;
  background: white;
}
	
.left {
		
	top:73%;
	left:18%;
		
}

.right {
	
	top:73%;
	left:62%;
	
}

.up {
		
	top:62%;
	left:40%;	
}

.down {
		
	top:84%;
	left:40%;	
}
	
.action {
		
	top:73%;
	left: 40%;	
}

}