*{margin:0px; padding:0px;}

#game{
width:100%;margin:0px; padding:0px;
}

@media screen and (device-aspect-ratio: 16/9) {	
.container {
  width: 13%;
  height:0px;
  position: absolute;
  display: inline;
}

.circle {
    
    border-radius: 50%;
    width: 100%;
    padding-bottom: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    background-image: url("arrows.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100%;
    
}
	
.left {
		
	top:61%;
	left:5%;
    transform: rotate(180deg);
		
}

.right {
	
	top:39%;
	left:25%;
	
}

.up {
	transform: rotate(270deg);	
	top:30%;
	left:9%;	
}

.down {
	transform: rotate(90deg);	
	top:70%;
	left:21%;	
}
	
.action {
	
    
	top:60%;
	right:10%;	
}
}